@import "colors";
@import "breakpoints";
@import "snippets";
@import "temp";

body {
	min-width: 320px;
	color: $c-copy;
}

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	color: inherit;
}

input,
textarea,
button {
	font-family: inherit;
}

.inner {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left:3.5%;
	padding-right:3.5%;
}
