// Keep first line empty from real code due to scss-compiler bug
@import "colors";
@import "breakpoints";
@import "snippets";
@import "temp";

body {
	background-image:none;
	background-color:#efefef;

	color:$c-main2;
	text-shadow: none;
}
h1,
h2,
h3,
h4 {
	font-family:'Open Sans';
	text-shadow: none;
}
.particles-js {
	opacity: .4;
}
.header-inner {
	.logo {
		svg {
			path {
				fill:$c-main2 !important;
			}
		}

	}
}
.steps svg path {
	fill:$c-secondary;
}
input, textarea {
	border-color:$c-main2;
}